<div id="dialog-modal" title="Oops! There's an error...">
	<p></p>
</div>
<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<div id="step1">
		<p class="inst">Instructions: To start, please simply select your class year as well as the number of courses you are currently enrolled in.</p>
	  <div class="field">
	    <%= f.label :class_year %><br />
	    <%= f.select :class_year, options_for_select((2012..2015).collect {|n| [ n, n ]}, :include_blank => true) %>
	  </div>
	  How many courses are you taking this semester?
	  <%= select_tag :classnum, options_for_select((1..6).collect {|n| [ pluralize(n,"Course"), n ]}, :selected => "4")%><br />
	  
	  <div class="sbutton">Start Survey</div>
  </div>
  
  <div id="step2">
  	<p class="inst">Instructions: For each course, please tell us how many pages of reading you are assigned per week as well as how many you actually complete per week. 
  		Additionally, please tell us which division the course belongs to. If the course is crosslisted, pick the division under which
  		you registered for the course. If your course does not fit into any of the divisions, select "other".</p>
	<div class="sbutton">On to the last step!</div>
  </div>
  <div id="step3" style="display:none;">
  	<p class="inst">Instructions: You're almost done. For each class please read the question and use the slider to mark your answer.</p>
  <div class="actions">
    <%= f.submit 'Submit Survey', :class => "sbutton" %>
  </div>
  </div>
<% end %>
