<table id="step2q">
	<thead>
		<th></th>
		<th>Total Readings</th>
		<th>Completed Readings</th>
		<th>Division</th>
	</thead>
	<tbody>
		<% (1..Integer(@iter)).each do |n| %>
		<tr>
			<td><%= "Class #{n}" %></td>
			<td><%= text_field_tag "total_#{n}",nil, {:class => "totalfield"} %></td>
			<td><%= text_field_tag "comp_#{n}",nil, {:class => "completedfield"} %></td>
			<td>	
				<div class="radio">
					<%= radio_button_tag "radio#{n}", 'NS' %><%= label_tag "radio#{n}_NS", "NS" %>
					<%= radio_button_tag "radio#{n}", 'SS' %><%= label_tag "radio#{n}_SS", "SS" %>
					<%= radio_button_tag "radio#{n}", 'HU' %><%= label_tag "radio#{n}_HU", "HU" %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

