<table id="step2q">
	<thead>
		<th></th>
		<th>Total Readings</th>
		<th>Completed Readings</th>
		<th>Division</th>
	</thead>
	<tbody>
		<% (1..Integer(@iter)).each do |n| %>
		<tr>
			<td><%= "Course #{n}" %></td>
			<td><%= text_field_tag "total_#{n}",nil, {:class => "totalfield", :placeholder => "Enter # of pages"} %></td>
			<td><%= text_field_tag "comp_#{n}",nil, {:class => "completedfield", :placeholder => "Enter # of pages"} %></td>
			<td>	
				<div class="radio">
					<%= radio_button_tag "radio#{n}", 'NS' %><%= label_tag "radio#{n}_NS", "NS" %>
					<%= radio_button_tag "radio#{n}", 'SS' %><%= label_tag "radio#{n}_SS", "SS" %>
					<%= radio_button_tag "radio#{n}", 'HU' %><%= label_tag "radio#{n}_HU", "HU" %>
					<%= radio_button_tag "radio#{n}", 'NA' %><%= label_tag "radio#{n}_NA", "Other" %>
				</div>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

